*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background: url('../../assets/img.jpg') no-repeat center center;
    background-size: cover;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
    
}