.container {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: flex-start;
  width: 200px;  
  height: 300px;         
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  gap: 8px;              
  background: rgba(255, 255, 255, .2);
  backdrop-filter: blur(10px);
}

.container img {
  width: 100%;            
  height: auto;
  border-radius: 8px;
}

.container h1 {
  font-size: 16px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  flex-wrap: wrap;
}

.button{
    margin-top: auto;
    width: 150px;
}