.inputEstilizado{
    background-color: transparent;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.inputEstilizado::placeholder{
    color: #fff;
}

.inputEstilizado:focus{
    border-color: rgb(0, 0, 0, .2); 
    box-shadow: 0 0 10px rgb(0, 0, 0, .2); 
}