
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
  color: #23232e;
}

.logo {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, Helvetica, sans-serif;
  background: #23232e;
  height: 60px; 
  padding: 0 16px;
}

.navList {
  list-style: none;
  display: none; 
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 60px;
  right: 0;
  background: #23232e;
  width: 200px;
  padding: 16px;
  border-radius: 8px;
}

.navList li {
  letter-spacing: 2px;
}

.mobileMenu {
  display: block;
  cursor: pointer;
}

.mobileMenu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 6px 0;
}

@media (min-width: 768px) {
  nav {
    justify-content: space-around;
  }

  .navList {
    display: flex; 
    flex-direction: row;
    position: static; 
    width: auto;
    background: none;
    padding: 0;
    gap: 32px;
  }

  .navList li {
    margin-left: 32px;
  }

  .mobileMenu {
    display: none; 
  }
}